body {
    margin: 0px;
}
.normal-container {
    padding: 76px;
    text-align:center;
}
#header {
    background-color: #00B7EB;
}
#hero {
    background-color: #FF0000;
}
#flex-content {
    display: inline-block;
    padding: 76px;
    background-color: #00FF00;
    flex-grow: 1;
    
}
#flex-sidebar {
    display: inline-block;
    padding: 76px;
    background-color: #800080;
    flex-grow: 1;    
}
.flex-contentside {
    display: flex;
    flex-direction: row;
    text-align: center;   
}
@media only screen and (max-width: 600px) {
    .flex-contentside {
    display: flex;
    flex-direction: column;
    }
}
footer{
    background-color: #444444

}